<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="public/css/footer.css">
    </head>
    <body>
        <h1>Hi <%= username %></h1>
        <h2>Hostname: <%= os.hostname %></h2>
        <h2>Platform: <%= os.platform %></h2>
        <h2>Release: <%= os.release %></h2>
        <footer>
            <% include blocks/footer %>
        </footer>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    </body>
</html>